
.NavMenu {
  width: 100%;
}

.NavMenu ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.NavMenu li {
  display: inline-block;
  margin: 0 0 0 1rem;
}

.NavMenu .box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
