
.NavMenu {
  width: 100%;
  background-color: rgba(0, 0, 10);
  color: rgba(240, 250, 255);
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.NavMenu a, .NavMenu a:visited {
  color: rgba(200, 250, 255);
}

.NavMenu .main {
  flex-grow: 1;
  font-weight: bold;
}

.NavMenu ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  align-self: flex-end;
}

.NavMenu li {
  display: inline-block;
  margin: 0 0 0 1rem;
}

.NavMenu .box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
