---
import { twMerge } from 'tailwind-merge';
import type { Thought } from './thought';
import ThoughtDisplay from './thought-display.astro';
import { linkClassName } from '@/components/styles';

export type Props = {
	thoughts: { thoughts: Thought[]; totalPageCount: number };
};

const {
	thoughts: { thoughts },
} = Astro.props;
---

<section class="pb-8 mb-8 border-b">
	<a href={`/thoughts/page/1/`}>
		<h2 class={twMerge('text-2xl font-medium mb-2', linkClassName)}>
			Recent Thoughts
		</h2>
	</a>
	<div class="flex flex-row gap-8">
		{
			thoughts
				.filter((_, i) => i < 2)
				.map((t) => (
					<div class="flex flex-col flex-1">
						<ThoughtDisplay thought={t} />
					</div>
				))
		}
	</div>
	{
		thoughts.length > 1 && (
			<a
				href="/thoughts/page/1/"
				class={twMerge(
					'flex items-center justify-end self-start text-xs group',
					linkClassName,
				)}
			>
				Read More Thoughts
				<svg
					class="w-4 h-4 ml-2 group-hover:translate-x-2 transition-transform"
					viewBox="0 0 24 24"
					stroke="currentColor"
					stroke-width="2"
					fill="none"
					stroke-linecap="round"
					stroke-linejoin="round"
				>
					<path d="M5 12h14" />
					<path d="M12 5l7 7-7 7" />
				</svg>
			</a>
		)
	}
</section>
