---
import type { Thought } from './thought';
import { format } from 'date-fns';

export type Props = {
	thought: Thought;
};

const { thought } = Astro.props;
---

<article class="contents">
	<a href={`/thoughts/${format(thought.date, 'yyyy-MM-ddThhmmss')}`}>
		<h2 class={'text-xs font-medium mb-2'}>
			{format(thought.date, 'yyyy-MM-dd')}
		</h2>
	</a>
	<thought.Content />
</article>
