---
import { toUrlTimestamp, type Thought } from './thought';
import { format } from 'date-fns';
import { thoughtComponents } from '@/components/mdx/thought-components';
import MarkdownPicture from '@/components/mdx/MarkdownPicture.astro';

export type Props = {
	thought: Thought;
};

const components = { ...thoughtComponents, img: MarkdownPicture };

const { thought } = Astro.props;

const { Content } = thought;
---

<article class="contents">
	<a href={`/thoughts/${toUrlTimestamp(thought)}`}>
		<h2
			class={'text-xs font-medium mb-1 invisible'}
			data-datetime={thought.date.getTime()}
		>
			{format(thought.date, `h:mm aaaa' on 'd MMM, yyyy`)}
		</h2>
	</a>
	<Content components={components} />
</article>
