.About img.profile-photo {
  width: 3rem;
  height: 3rem;
  border: 0px solid transparent;
  border-radius: 3rem;
  vertical-align: middle;
  margin: 0.5rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.75);
  float: left;
}

.About h1 {
    margin: 0;
    font-size: 2rem;
    padding: 1rem 0;
    opacity: 85%;
}
