---
import { ScrollHeader } from './ScrollHeader';
import MattDeKreyAvatar from './avatar.astro';

export type Props = {
	siteTitle: string;
};

const mainNavLinks = [
	{
		route: `/about`,
		title: `About`,
	},
	{
		route: `/contact`,
		title: `Contact`,
	},
];

const hideHeaderClass = '-translate-y-full';
const showHeaderClass = 'bg-white';

const { siteTitle } = Astro.props;

// TODO: mobile menu
---

<ScrollHeader
	{{ showHeaderClass, hideHeaderClass }}
	className="bg-white z-10 motion-safe:transition-transform ease-in duration-100 fixed inset-x-0 w-full"
>
	<div
		class="flex flex-wrap items-center justify-between max-w-4xl p-2 mx-auto"
	>
		<a
			href="/"
			class="flex items-center gap-3 no-underline font-medium text-gray-900"
		>
			<MattDeKreyAvatar />
			<span class="text-xl font-bold tracking-tight">{siteTitle}</span>
		</a>

		<nav class="flex items-center w-auto gap-2">
			{
				mainNavLinks.map((link) => (
					<a href={link.route} class="block no-underline">
						{link.title}
					</a>
				))
			}
		</nav>
	</div>
</ScrollHeader>
<div class="pt-16"></div>
