---
import type { ImageMetadata } from '@astrojs/image/dist/vite-plugin-astro-image';
import Seo from '@/components/seo.astro';
import Header from './header.astro';
import Footer from './footer.astro';
import { twMerge } from 'tailwind-merge';

export interface Props {
	title: string;
	image?: string | ImageMetadata | undefined;
	description?: string | undefined;
	mainClass?: string;
	frontmatter?: Props;
}

const { title, image, description, mainClass } = (Astro.props.frontmatter ||
	Astro.props) as Props;
---

<!DOCTYPE html>
<html
	lang="en"
	class="scroll-pt-18 md:scroll-pt-12 scroll-smooth motion-reduce:scroll-auto"
>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<Seo
			title={title}
			image={typeof image === 'string' ? image : image?.src}
			description={description}
		/>
	</head>
	<body>
		<div class="flex flex-col min-h-screen font-sans text-gray-900">
			<Header siteTitle="DeKrey.NET" />
			<slot name="no-scroll-header" />

			<main
				class={twMerge(
					'flex-1 w-full max-w-screen-md px-4 py-8 mx-auto md:px-8 md:py-16 relative',
					mainClass
				)}
			>
				<slot />
			</main>

			<Footer class="z-10" />
		</div>
	</body>
</html>
