.RecentArticles h1 {
    margin: 0;
    font-size: 2rem;
    padding: 1rem 0;
    opacity: 85%;
}

.RecentArticles .articleGrid {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(400px, 1fr) );
    margin: 0;
    padding: 0;
    grid-gap: 0.5rem;
}

.RecentArticles .CardLink {
    display: block;
    color: inherit;
    text-decoration: inherit;
}

.RecentArticles .CardLink > * {
    height: 100%;
}

.RecentArticles .ArticleCard {
    display: grid;
    grid-template-rows: 1fr auto auto;
}

.RecentArticles .ArticleCard .image {
    background-color: #fff;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 30vh;
}
.RecentArticles .ArticleCard .textContent {
    min-height: 4.2rem;
    display: grid;
    grid-template-rows: 1fr auto;
    background-color: #0366d6;
    color: white;
}
.RecentArticles .ArticleCard .title {
    display: block;
    min-height: 2rem;
    font-weight: lighter;
    font-size: 1.4rem;
    line-height: 1.3em;
}
.RecentArticles .ArticleCard .date {
    display: block;
    opacity: 0.8;
    font-size: 0.6rem;
    text-align: right;
}
